.ride {
  border-top: 1px solid $aluminum;
  padding: 10px 0;

  &:last-child {
    border-bottom: 1px solid $aluminum;
  }
}

.rides__title {
  display: inline-block;
  font-size: $big;
  font-weight: bold;
  padding: 16px 0;
}

.ride__request,
.rides__new {
  display: inline-block;
  float: right;
  padding: 23px 0;
}

.ride__description {
  display: inline-block;
}

.ride__driver {
  display: inline-block;
  float: right;
}

.ride__driver-image {
  img {
    margin: 5px;
    height: 50px;
  }
}

.ride__description-field {
  display: block;
}

.ride__description-field--show {
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid $aluminum;

  &.last {
    padding-right: 0;
    margin-right: 0;
    border-right: 0;
  }
}

.ride__description-field--status {
  margin-top: 10px;
  display: inline-block;
}

.ride__driver-field--label,
.ride__description-field--label {
  display: inline-block;
  font-size: $smallest;
  color: $light-gray;
  text-transform: uppercase;
}

.ride__driver-field--value,
.ride__description-field--value {
  padding-left: 8px;
  display: inline-block;
}

.ride__description-link {
  display: inline-block;
  font-size: $smallest;
  text-transform: uppercase;
  margin-top: 8px;
  margin-bottom: 4px;
}

.ride__description-field--value-details {
  display: inline-block;
  font-size: $smallest;
  color: $aluminum;
}

.ride__hidden {
  display: none;
}
