%table.table
  %tr
    %th Author name
    %th content
    %th rating
    %th date
  - reviews_received.each do |review|
    %tr
      %td= link_to review.author.name, review.author
      %td= review.content
      %td= review.rating
      %td= review.created_at.to_formatted_s(:short)
