%table.table
  %tr
    %th User name
    %th rating
    %th content
    %th date
  - reviews_given.each do |review|
    %tr
      %td= review.user.name
      %td= review.rating
      %td= review.content
      %td= review.created_at
