%table.table
  %tr
    %th User name
    %th content
    %th rating
    %th date
  - reviews_given.each do |review|
    %tr
      %td= link_to review.user.name, review.user
      %td= review.content
      %td= review.rating
      %td= review.created_at.to_formatted_s(:short)
