%table.table
  %tr
    %th From
    %th To
    %th Date
  - rides.each do |ride|
    %tr
      %td
        = link_to ride.start_city, ride_path(ride)
      %td= ride.destination_city
      %td= ride.start_date.to_formatted_s(:short)
