%h3 User
%p
  Name:
  =@user.name if @user.name
%p
  Email:
  =@user.email if @user.email
%p
  Average rating:
  =@user.average_rating

.row
  .col-md-6
    .panel.panel-default
      .panel-heading Last rides as driver
      =render partial: 'users/rides', locals: {rides: @user.rides_as_driver}
  .col-md-6
    .panel.panel-default
      .panel-heading Last rides as passenger
      =render partial: 'users/rides', locals: {rides: @user.rides_as_passenger}
.row
  .col-md-6
    .panel.panel-default
      .panel-heading Last received reviews
      = render partial: 'users/reviews_received', locals: { reviews_received: @user.reviews_received }
  .col-md-6
    .panel.panel-default
      .panel-heading Last given reviews
      = render partial: 'users/reviews_given', locals: {reviews_given: @user.reviews_given}
