// colors
$white:      #FFF;
$black:      #000;
$aluminum:   #999;
$light-gray: #BDBDBD;

// font-sizes
$bigger:     40px;
$big:        30px;
$medium:     24px;
$small:      16px;
$smaller:    12px;
$smallest:   10px;
